/* app.component.scss */

/* Ensure the body and html are full height to make the layout work properly */
html,
body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  height: 100vh; /* Full viewport height */
  background-color: #10142c;
  color: white;
}

#fixed-column {
  height: 100vh; /* Full viewport height for the fixed column */
  position: fixed; /* Keep this column fixed in place */
  left: 0; /* Position it on the left */
  top: 0;
  width: 50%; /* Take up 50% of the screen width */
}

#scrollable-column {
  height: 100%;
  overflow-y: auto; /* Make this column scrollable */
  margin-left: 50%; /* Push the scrollable column to the right of the fixed column */
}

.scrollable-content,
.fixed-content {
  padding: 20px; /* Add some padding inside the columns */
}
