<!-- app.component.html -->
<div class="bg-slate-600">
  <div class="">
    <div class=""></div>
    <!-- Fixed Left Column -->
    <div class="">
      <div class="">
        <h1>Samuel Browne</h1>
        <h3>Applications Developer</h3>
        <p>I build websites and games</p>
      </div>
      <nav>
        <ul>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Experience</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Scrollable Right Column -->
    <div class="">
      <div class="scrollable-content">
        <p>
          I have been working for the
          <a href="https://www.icwa.wa.gov.au/"
            >Insurance Commission of Western Australia (ICWA)</a
          >
          developing web applications.
        </p>
        <!-- Add more content to enable scrolling -->
      </div>
      <div>
        <!--Previous jobs-->
        <div>
          <div>2021 - Present</div>
          <div>
            <h5>
              Applications Developer - Insurance Commission of Western Australia
            </h5>
          </div>
        </div>
      </div>
      <footer>
        Designed by Samuel Browne. Built with Angular and Bootstrap
      </footer>
    </div>

    <div class=""></div>
  </div>
</div>
