<!-- app.component.html -->
<div class="bg-slate-600 h-full overflow-y-auto">
  <div class="mx-auto h-screen px-24">
    <div class="sm:flex h-screen">
      <!--fixed column-->
      <div
        class="flex-col sm:flex-row justify-between sm:py-24 pt-24 sm:h-screen sm:w-1/2 font-nintendo"
      >
        <h1 class="text-cyan-100 text-4xl">Samuel Browne</h1>
        <h3 class="text-cyan-200 text-3xl">Applications Developer</h3>
        <p class="text-gray-300 text-2xl">I build websites and games</p>
      </div>
      <!--scrollable column-->
      <div
        class="flex-col sm:flex-row justify-between sm:py-24 sm:h-screen sm:w-1/2 font-nintendo text-lg text-white"
      >
        <!--About me :-)-->
        <div class="flex-col">
          <p>
            I have been working at the Insurance Commission of Western Australia
            working with web applications.
          </p>
          <p>I enjoy learning new things</p>
          <p>When I'm not at the computer, I'm usually driving my car</p>
          <p>I love Nintendo DS / Nintendo Wii aesthetics :-p</p>
        </div>
        <!--Experience-->
        <div>
          <div class="rounded-sm bg-slate-400 h-64 mt-5">
            <div class="p-5 flex gap-4">
              <div class="">2021 - PRESENT</div>
              <div>
                <h2>Applications Developer - ICWA</h2>
                <p>
                  I have been working at Insurance Commission of Western
                  Australia making web applications.
                </p>
                <div class="flex gap-4">
                  <div class="rounded-lg p-1 bg-slate-800">Angular</div>
                  <div class="rounded-lg p-1 bg-slate-800">Typescript</div>

                  <div class="rounded-lg p-1 bg-slate-800">.NET C#</div>
                  <div class="rounded-lg p-1 bg-slate-800">HTML & CSS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>View Full Resume</div>
        <div class="mt-10">Projects I have made</div>
        <div class="rounded-sm bg-slate-400 h-32 mt-5">
          <div class="p-5 flex gap-4">
            <div class="">PROJECT 1</div>
            <div>
              <h2>Pokemon Web App</h2>
              <p>
                This is a pokemon website i made.
                <a
                  class="hover:text-yellow-400"
                  href="https://pokemon-web-app-9001.web.app"
                  >Pokemon</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="rounded-sm bg-slate-400 h-32 mt-5">
          <div class="p-5 flex gap-4">
            <div class="">PROJECT 1</div>
            <div>
              <h2>Pokemon Web App</h2>
              <p>
                This is a pokemon website i made.
                <a
                  class="hover:text-yellow-400"
                  href="https://pokemon-web-app-9001.web.app"
                  >Pokemon</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="rounded-sm bg-slate-400 h-32 mt-5">
          <div class="p-5 flex gap-4">
            <div class="">PROJECT 1</div>
            <div>
              <h2>Pokemon Web App</h2>
              <p>
                This is a pokemon website i made.
                <a
                  class="hover:text-yellow-400"
                  href="https://pokemon-web-app-9001.web.app"
                  >Pokemon</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="rounded-sm bg-slate-400 h-32 mt-5">
          <div class="p-5 flex gap-4">
            <div class="">PROJECT 1</div>
            <div>
              <h2>Pokemon Web App</h2>
              <p>
                This is a pokemon website i made.
                <a
                  class="hover:text-yellow-400"
                  href="https://pokemon-web-app-9001.web.app"
                  >Pokemon</a
                >
              </p>
            </div>
          </div>
        </div>
        <div>
          Made by Samuel Browne. Coded in Visual Studio Code. Built with Angular
          and Tailwind CSS.
        </div>
      </div>
    </div>
  </div>
</div>
